.wrapper {
  height: 40%;
  width: auto;
  padding: 0px;
  display: block;
  margin: 0 auto;
  align-content: center;
  background-size: 100% 350%;
}

.about {
text-align: center;
padding-top: 2em;
}
h1 {
  color:#545454;
 }
 
 p{
   color: #545454;
   
 }

