
  <app-aboutheader></app-aboutheader>


  <div class="about">
    <h1>About Us</h1>
    <p> Travall is a collaborative application to help you stay organized with others about your upcoming travel plans.  Creating a Travall will allow you to invite others to your upcoming trip as well as display your transportation details and all activities you would like to do while on the trip.  Travall will keep you and your loved ones organized and up-to-date about your next upcoming travall plans.<br> <br>Travall was created to have one centralized location to plan trips with loved ones.  Life is busy but by logging into the Travall app, you are instantly informed about who is coming, when they are coming, and what they would like to do once they arrive. Upgrades/ new features will continue to be added to better help you stay organized and informed about upcoming plans! <br> <br> </p>
    <button mat-raised-button="primary" class="button" routerLink="/signup">Register</button>
  </div>




<!-- main app container -->
<!-- <div class="jumbotron"> -->

<!-- <h1> Welcome to Travall</h1>
<p *ngIf="currentUser">yes</p> -->
<!--
<h1>Hi {{currentUser}}!</h1> -->
<!-- <p>You're logged in Travall</p> -->

<!-- <h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{username}}
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul> -->
