
  <app-aboutheader></app-aboutheader>


  <div class="about">
    <h1>About Us</h1>
    <p> Travall was created to have one centralized location to plan a trips with loved ones that you do not get to see every day.  Life is busy and by logging into the Travall app,  you are instantly informed about who is coming, when they are coming, and what they would like to do once they arrive. Upgrades/ new features will continue to be added to better help stay organized and informed about upcoming plans with one other person or a great many others.<br> <br>Travall is a collaborative application where you can help stay organized with other about your upcoming travel plans.  Creating a Travall will allow you to others to your upcoming trip as well as display your transportation details and any/all activities you would like to do while on the trip.  Travall will keep you and your friends/family organized and informed about your next upcoming travall plans.  <br> <br> </p>
    <button mat-raised-button="primary" class="button" routerLink="/signup">Register</button>
  </div>




<!-- main app container -->
<!-- <div class="jumbotron"> -->

<!-- <h1> Welcome to Travall</h1>
<p *ngIf="currentUser">yes</p> -->
<!--
<h1>Hi {{currentUser}}!</h1> -->
<!-- <p>You're logged in Travall</p> -->

<!-- <h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{username}}
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul> -->
