
  <app-aboutheader></app-aboutheader>


  <div class="about">
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tincidunt, nunc id vestibulum blandit, leo ipsum ornare ligula, at pharetra justo velit quis libero. Integer ac massa nec urna porta mollis. Sed placerat, nibh dapibus congue laoreet, lorem nisi porta velit, et bibendum quam purus non leo.</p>
    <button mat-raised-button="primary" class="button" routerLink="/signup">Register</button>
  </div>




<!-- main app container -->
<!-- <div class="jumbotron"> -->

<!-- <h1> Welcome to Travall</h1>
<p *ngIf="currentUser">yes</p> -->
<!--
<h1>Hi {{currentUser}}!</h1> -->
<!-- <p>You're logged in Travall</p> -->

<!-- <h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{username}}
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul> -->
