

<div class="container">
        <button class="navButton" mat-raised-button="accent"   (click)="openDialog()" style="float: right"> Add Activity</button>
        <h1>Activity Schedule</h1>
<table class="table" size="sm">
        
<thead>
<tr>
        <th>Who</th>
        <th>What</th>
        <th>When</th>
        <th>Start Time</th>
        <th>End time</th>
        <th>Details:</th>
        
        
        <th></th>
  
  
      </tr>
    </thead>
      <tbody *ngFor="let activity of activities">
        <td>{{activity.title}}</td>
        <td>{{activity.title}}</td>
        <td>{{activity.date}}</td>
        <td>{{activity.startTime}}</td>
        <td>{{activity.endTime}}</td>
        <td>{{activity.location}}</td>
        <td>{{activity.description}}</td>
        <td> <button (click)="deleteActivity(activity.id)" style="float: right; width: 2em; text-align: center; ">x</button></td>
      </tbody>
    </table>
</div>
