<h4>Add Transportation</h4>
<form [formGroup]="createTransportForm" (ngSubmit)="onSubmit()">
  
      <div class="form-group">
          <label for="participants">Who?</label>
          <br>
          <input type="text" formControlName="participants" name="participants">
        </div>
    <div class="form-group">
    <label for="dOrA">What? <br> Arrival to dest. or Departure from dest?</label>
    <select class="form-control" style="width:auto;" formControlName="dOrA" name="dOrA">
      <option>Arrival</option>
      <option>Departure</option>
    </select>
  </div>
  <div class="form-group">
      <label for="date">When?</label>
      <br>
      <input type="date" formControlName="date" name="date">
    </div>
    <div class="form-group">
      <label for="upTime">Up Time:</label>
      <br>
      <input type="text" formControlName="upTime" name="upTime">
    </div>
    <div class="form-group">
      <label for="downTime">Down Time:</label>
      <br>
      <input type="text" formControlName="downTime" name="downTime">
    </div>
  <div class="form-group">
    <label for="type">How?</label>
    <select class="form-control" style="width:auto;" formControlName="type" name="type">
      <option value="Flight">Plane</option>
      <option value="Train">Train</option>
      <option value="Bus">Bus</option>
      <option value="Car">Personal Vehicle</option>
      <option value="Boat">Boat</option>
      <option value="Other">Other</option>
    </select>
  </div>
  
  
  <button type="submit">Submit</button>
</form>