<nav class= "navbar navbar-expand-lg navbar-light" style="background-color: whitesmoke">
 
<a class="navbar-brand brand-custom" href="">Travall</a>
<div class="collapse navbar-collapse" id="navbarText">
  
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link login-custom" routerLink="/login">Login/Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link register-custom" routerLink="/about">About<span class="sr-only">(current)</span></a>
    </li>
<li class="nav-item">
    <a class="nav-link register-custom" routerLink="/travall">Travall</a>
  </li>

    <!-- <li class="nav-item dropdown btn-group" dropdown> -->
        <!-- <div class="dropdown" mdbDropdown>
            <button mdbDropdownToggle type="button" mdbBtn color="primary" class="dropdown-toggle waves-light"
              mdbWavesEffect>
              Travall
            </button>

            <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/create" >Create Travall</a>
                
                <div class="divider dropdown-divider"></div>

                <a class="dropdown-item" routerLink="/about">Separated link</a>
              </div>
            </div> -->
        <!-- <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>Travall<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" routerLink="/create" mdbWavesEffect>Create Travall</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" href="#" mdbWavesEffect>Another action</a>
        
          </div>
     
      </li> -->
      <li class="nav-item">
          <a class="nav-link nav-link" (click)="logout()"  >Logout </a>
        </li>
  </ul>
</div>


</nav>


<!-- <a class="nav-link register-custom" routerLink="/travall">Travall</a> -->

<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" >
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/about">About</a>
      <a class="nav-item nav-link" routerLink="/login">Login/Register</a>
      <a class="nav-item nav-link" (click)="logout()" *ngIf='user' >Logout </a>
  </div>
</nav> -->

<!-- *ngIf = "currentUser" -->