<form [formGroup]="createTravallForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="sel1"></label>
        <select class="form-control" id="sel1" style="width:auto;">
          <option>Arrival from</option>
          <option>Departing To</option>
        </select>
    </div>
    <div class="form-group">
        <label for="sel1">By:</label>
        <select class="form-control" id="sel1" style="width:auto;">
          <option>Plane</option>
          <option>Train</option>
          <option>Bus</option>
          <option>Personal Vehicle</option>
          <option>Other</option>
        </select>
    </div>
    <div class="form-group">
      <label for="startDate">Starting Date</label>
      <input type="date" formControlName="startDate" name="startDate">
    </div>
    <div class="form-group">
      <label for="endDate">Ending Date</label>
      <input type="date" formControlName="endDate" name="endDate">
    </div>
    <div class="form-group">
        <label for="startTime">Start Time</label>
        <input type="text" formControlName="startTime" name="startTime">
      </div>
      <div class="form-group">
          <label for="description">End Time</label>
          <input type="text" formControlName="endTime" name="endTime">
        </div>
  </form>

  <button type="submit">Submit</button>
