<div class="container">
    <button class="navButton" mat-fab="accent" (click)="openDialog()" style="float: right; font-size: 2em;">+</button>
    <br>
    <h1>Transportation Schedule</h1>
    <table class="table" size="sm">
        <thead>
            <tr>
                <th>Who</th>
                <th>What</th>
                <th>When</th>
                <th>Time Up</th>
                <th>Time Down</th>
                <th>How</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngFor="let transport of transports">
            <td>{{transport.participants}}</td>
            <td>{{transport.dOrA}}</td>
            <td>{{transport.date}}</td>
            <td>{{transport.upTime}}</td>
            <td>{{transport.downTime}}</td>
            <td>{{transport.type}}</td>
            <td><button mat-button (click)="openTransportUpdate(transport.id)" style="float: right; width: 2em; text-align: center; ">update</button></td>
            <td><button mat-button (click)="deleteTransport(transport.id)" style="float: right; width: 1em; text-align: center; color: maroon; font-weight: bolder">X</button></td>
        </tbody>
    </table>
</div>