.logo {
  height: 40em;
  width: auto;
  padding: 0px;
  display: block;
  margin: 0 auto;
  background:url('assets/logo_transparent.png') no-repeat center center;

}

.button {
  margin-left: 45em;
  margin-top: 20em;
}


