.form-group {
    width: 440px;
    margin-left: auto;
    margin-right: auto;
}

#register {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}
p{
    color: grey;
    font-size: 2em;
  }
  .form-group {
    width: 440px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#login {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}
h3 {
    color:grey;
   }
   
   p{
     color: grey;
     font-size: 2em;
   }
 